{% extends 'base.html' %}
{% block body %}

{{ msg }}
<form method='POST'>
<div class="mb-3">
  <label for="exampleInputEmail1" class="form-label">Username/email</label>
  <input type="text" name='email' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
<div class="mb-3">
  <label for="exampleInputfirstname1" class="form-label">website</label>
  <input name='website' type="text" class="form-control" id="exampleInputPassword1">
</div>
<div class="mb-3">
  <label for="exampleInputPassword1" class="form-label">Password</label>
  <input name='pass' type="password" class="form-control" id="exampleInputPassword1">
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}