{% extends 'base.html' %}
{% block body %}
<h1>Sign Up</h1>
<form method='POST'>
    {{ msg }}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" name='user' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div class="mb-3">
      <label for="exampleInputfirstname1" class="form-label">First name</label>
      <input name='fn' type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputlastname1" class="form-label">Last name</label>
      <input name='ln' type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input name='pass' type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}